<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 

<html>

<head> 
<title> Curriculum Vitae </title>
<link rel = "stylesheet" href = "css/style.css" />
<LINK REL="SHORTCUT ICON" HREF="Img/doc.ico"> 
<link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>

<div id='cssmenu'>
<ul>
   <li><a href='mipagina.html'>Home</a></li>
   <li class='active'><a href='#'>Mi Curriculum</a></li>
   <li><a href='recetas.html'>Recetas</a></li>
   <li><a href='PyU.html'>Programas y Utilidades</a></li>
   <li><a href='contacto.html'>Contactame</a></li>
</ul>
</div>


<h1>  <DIV ALIGN=center> Mi Curriculum Vitae </DIV>  </h1>

<img src="Img/bart.jpg" widht=128 height=128 ALIGN=right />

<p3><p> <u> <b> Datos Personales </u> </p> </b> 
<br> <b>Nombre y Apellido:</b> Mariano García</br>
<br> <B>DNI:</b> 40.835.996</br>
<br> <b>Fecha de nacimiento:</b> 25 de diciembre de 1997</br>
<br> <b>Dirección:</b> Cornelio Saavedra 146</br>
<br> <b>Teléfono de contacto:</b> 154 592 216</br>
<br> <b>Correo electrónico:</b> garcia.cba@outlook.com</br>

<br> <p> <u> <b> Datos Académicos </u> <p> </br> </b>
<br> <b>Nivel Primario:</b> Cursado</br>
<br> <b>Nivel Secundario:</b> Cursando</br>
<br> <b>Nivel Terciario:</b> -</br>

<br> <p> <u> <b> Idiomas </u> <p> </br> </b>
<br> <b> Castellano:</b> Nivel alto </br>
<br> <b> Inglés:</b> Nivel medio </br></p3>
</body>

</html>
